@model BibleQuiz.Models.Quiz


<title>Quiz Details</title>

<h1>Details</h1>

<div>
    <h4>Quiz</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Question)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Question)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Answer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Answer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReleasedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReleasedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success log">Edit</a> |
    <a asp-action="Index" class="btn btn-outline-secondary log"><i class="fas fa-long-arrow-alt-left"></i>&nbsp;Back to List</a>
</div>
